WAGO/NodeRED/myExample.txt
[{"id":"878bf9c2.6a91a8","type":"modbus-read","z":"6cc85369.1d6b0c","name":"MB Read TC 1","topic":"Temperature","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":187,"y":73,"wires":[["fb788ff3.01464"],[]]},{"id":"fb788ff3.01464","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str/10;\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":67,"wires":[["d8ffadc7.59733","ebe8842a.13fbd8"]]},{"id":"abc4f7aa.b719c8","type":"modbus-write","z":"6cc85369.1d6b0c","name":"Digital Output","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"0","quantity":"1","server":"9cca110e.3a97f","x":360,"y":273,"wires":[[],[]]},{"id":"b21475c5.9e3758","type":"ui_switch","z":"6cc85369.1d6b0c","name":"","label":"Digital output 1","tooltip":"","group":"7535f70c.13a5c8","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":172,"y":273,"wires":[["abc4f7aa.b719c8"]]},{"id":"96ae281c.0131d8","type":"modbus-read","z":"6cc85369.1d6b0c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":161,"y":513,"wires":[["96522053.851da"],[]]},{"id":"96522053.851da","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str[0];\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":506,"wires":[["c0240b98.339e58"]]},{"id":"c0240b98.339e58","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nif (str){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":507,"wires":[["9d8fcf3b.49fe8"]]},{"id":"af37bd85.690db","type":"modbus-read","z":"6cc85369.1d6b0c","name":"MB Read TC 3","topic":"Temperature","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"InputRegister","adr":"2","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":191,"y":169,"wires":[["c7d64e78.912cc"],[]]},{"id":"c7d64e78.912cc","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str/10;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":163,"wires":[["7642e023.8939a"]]},{"id":"d2cb2883.cd7688","type":"modbus-read","z":"6cc85369.1d6b0c","name":"MB Read TC 4","topic":"Temperature","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"InputRegister","adr":"3","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":190,"y":219,"wires":[["3ad61f87.4410e"],[]]},{"id":"3ad61f87.4410e","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str/10;\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":213,"wires":[["361758ec.ccdf18"]]},{"id":"80a75a47.ffa438","type":"modbus-write","z":"6cc85369.1d6b0c","name":"Digital Output","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1","quantity":"1","server":"9cca110e.3a97f","x":356,"y":327,"wires":[[],[]]},{"id":"c2e900e9.6c454","type":"ui_switch","z":"6cc85369.1d6b0c","name":"","label":"Digital output 2","tooltip":"","group":"7535f70c.13a5c8","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":171,"y":327,"wires":[["80a75a47.ffa438"]]},{"id":"3bc15878.70fde8","type":"modbus-write","z":"6cc85369.1d6b0c","name":"Digital Output","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"2","quantity":"1","server":"9cca110e.3a97f","x":360,"y":377,"wires":[[],[]]},{"id":"f664d21e.c17f2","type":"ui_switch","z":"6cc85369.1d6b0c","name":"","label":"Digital output 3","tooltip":"","group":"7535f70c.13a5c8","order":3,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":377,"wires":[["3bc15878.70fde8"]]},{"id":"4f137906.1e1788","type":"modbus-write","z":"6cc85369.1d6b0c","name":"Digital Output","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"3","quantity":"1","server":"9cca110e.3a97f","x":365,"y":428,"wires":[[],[]]},{"id":"b16b9010.8763b","type":"ui_switch","z":"6cc85369.1d6b0c","name":"","label":"Digital output 4","tooltip":"","group":"7535f70c.13a5c8","order":4,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":173,"y":428,"wires":[["4f137906.1e1788"]]},{"id":"b6661a58.a102c8","type":"modbus-read","z":"6cc85369.1d6b0c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":164,"y":566,"wires":[["1c209b17.264155"],[]]},{"id":"1c209b17.264155","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str[0];\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":559,"wires":[["871e4d79.e507"]]},{"id":"871e4d79.e507","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nif (str){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":560,"wires":[["2788d91c.749206"]]},{"id":"95d5906a.f0d33","type":"modbus-read","z":"6cc85369.1d6b0c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":165,"y":619,"wires":[["36b73449.c308fc"],[]]},{"id":"36b73449.c308fc","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str[0];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":612,"wires":[["ab5270ba.522d3"]]},{"id":"c11b80c5.31cf3","type":"ui_template","z":"6cc85369.1d6b0c","group":"a2daf17f.5ad4c","name":"Digital input 3","order":3,"width":"4","height":"1","format":"<html>\n\n<svg>\n\n<circle cx=\"40\" cy=\"15\" r=\"12\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n\n<text x=\"30%\" y=\"50%\" style=\"stroke: none; fill: white\" >Digital input 3</text>\n\n\n\n</svg>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":667,"y":613,"wires":[[]]},{"id":"ab5270ba.522d3","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nif (str){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":613,"wires":[["c11b80c5.31cf3"]]},{"id":"fbba1d23.ebf68","type":"modbus-read","z":"6cc85369.1d6b0c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":163,"y":672,"wires":[["b1edd5c2.593248"],[]]},{"id":"b1edd5c2.593248","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str[0];\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":665,"wires":[["b1ba4810.b494d8"]]},{"id":"864e685.5db1d98","type":"ui_template","z":"6cc85369.1d6b0c","group":"a2daf17f.5ad4c","name":"Digital input 4","order":4,"width":"4","height":"1","format":"<html>\n\n<svg>\n\n<circle cx=\"40\" cy=\"15\" r=\"12\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n\n<text x=\"30%\" y=\"50%\" style=\"stroke: none; fill: white\" >Digital input 4</text>\n\n\n\n</svg>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":665,"y":666,"wires":[[]]},{"id":"b1ba4810.b494d8","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nif (str){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":666,"wires":[["864e685.5db1d98"]]},{"id":"d8ffadc7.59733","type":"ui_text","z":"6cc85369.1d6b0c","group":"9240e41c.4df098","order":0,"width":"4","height":"1","name":"","label":"Temperature 1","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":69,"wires":[]},{"id":"c3000a5e.589ab8","type":"modbus-read","z":"6cc85369.1d6b0c","name":"MB Read TC 2","topic":"Temperature","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"InputRegister","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"9cca110e.3a97f","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":186,"y":122,"wires":[["7422212d.936f5"],[]]},{"id":"7422212d.936f5","type":"function","z":"6cc85369.1d6b0c","name":"dev/10","func":"var str = msg.payload;\nmsg.payload = str/10;\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":116,"wires":[["d2cbcecc.00b09"]]},{"id":"d2cbcecc.00b09","type":"ui_text","z":"6cc85369.1d6b0c","group":"9240e41c.4df098","order":0,"width":"4","height":"1","name":"","label":"Temperature 2","format":"{{msg.payload}}","layout":"row-spread","x":529,"y":118,"wires":[]},{"id":"7642e023.8939a","type":"ui_text","z":"6cc85369.1d6b0c","group":"9240e41c.4df098","order":0,"width":"4","height":"1","name":"","label":"Temperature 3","format":"{{msg.payload}}","layout":"row-spread","x":531,"y":167,"wires":[]},{"id":"361758ec.ccdf18","type":"ui_text","z":"6cc85369.1d6b0c","group":"9240e41c.4df098","order":0,"width":"4","height":"1","name":"","label":"Temperature 4","format":"{{msg.payload}}","layout":"row-spread","x":531,"y":215,"wires":[]},{"id":"2788d91c.749206","type":"ui_template","z":"6cc85369.1d6b0c","group":"a2daf17f.5ad4c","name":"Digital input 2","order":2,"width":"4","height":"1","format":"<html>\n\n<svg>\n\n<circle cx=\"40\" cy=\"15\" r=\"12\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n\n<text x=\"30%\" y=\"50%\" style=\"stroke: none; fill: white\" >Digital input 2</text>\n\n\n\n</svg>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":666,"y":560,"wires":[[]]},{"id":"9d8fcf3b.49fe8","type":"ui_template","z":"6cc85369.1d6b0c","group":"a2daf17f.5ad4c","name":"Digital input 1","order":1,"width":"4","height":"1","format":"<html>\n\n    <svg>\n    \n        <text x=\"30%\" y=\"50%\" style=\"stroke: none; fill: white\" >Digital input 1</text>\n        <circle cx=\"40\" cy=\"15\" r=\"12\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n\n    </svg>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":663,"y":507,"wires":[[]]},{"id":"ebe8842a.13fbd8","type":"debug","z":"6cc85369.1d6b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":697,"y":91,"wires":[]},{"id":"9cca110e.3a97f","type":"modbus-client","z":"","name":"modbus-tcp@","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.50","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"7535f70c.13a5c8","type":"ui_group","z":"","name":"Digital Output","tab":"58ae5bb2.76ec34","order":3,"disp":true,"width":"4","collapse":false},{"id":"a2daf17f.5ad4c","type":"ui_group","z":"","name":"Digital Input","tab":"58ae5bb2.76ec34","order":2,"disp":true,"width":"5","collapse":false},{"id":"9240e41c.4df098","type":"ui_group","z":"","name":"Temperature","tab":"58ae5bb2.76ec34","order":1,"disp":true,"width":"4","collapse":false},{"id":"58ae5bb2.76ec34","type":"ui_tab","z":"","name":"WAGO MODBUS","icon":"dashboard","disabled":false,"hidden":false}]
